/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------
Root/body/general styles
-----------------------------*/

:root {
  --darkest: black;
  --darker: #65737e;
  --lighter: #c0c5ce;
  --lightest: white;
}

body {
  line-height: 1.2;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
}

.stack > * + *,
article > * + * {
  display: block;
  margin-block-start: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul > li + li {
  padding-left: 5px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}


/*------------------------------
Colors
-----------------------------*/

header,
.hero {
  background-color: var(--darker);
}


.options {
  background: var(--lighter);
}

.contact,
footer {
  background: black;
}

a {
  color: var(--darkest);
}

header *,
.hero *,
.contact *,
footer * {
  color: var(--lightest);
}


.lightest {
  color: var(--lightest);
}

.lighter {
  color: var(--lighter);
}

.darker {
  color: var(--darker);
}

.darkest {
  color: var(--darkest);
}


/*------------------------------
Fonts and sizing
-----------------------------*/

h1,
h2, 
h4, 
h5 {
  font-weight: bold;
}


p:not(.hero p)
 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}


/*------------------------------
Header
-----------------------------*/


header {
  padding: 1% 1.5%;
}


header > section:first-child {
  width: 20%;
  float: left;
}

header > section:first-child > a {
  padding:0 1.5%;
}

header > img {
  display: inline-block;
  width: 40%;
  margin: 0 auto;
}

header > section:last-child {
  width: 20%;
  float: right;
}

header > section:last-of-type > a {
  color: var(--darker);
  background-color: var(--lightest);
  border-radius: 5%;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 3% 5%;
}


/*------------------------
Hero 
-------------------------*/

.hero, 
.why,
.volunteer,
.options {
  padding: 5vw 3vw;
}

.hero > article {
  height: 75%;
  width: 70%;
  margin: 0 auto;
}


/*------------------------
Why/Volunteer
-------------------------*/

.why > article,
.volunteer > article {
  width: 65ch;
  height: 50%;
  margin: auto;
}


/*------------------------
Options
-------------------------*/

.options {
  column-count: 2;
}

.options > section {
  width: 70%;
  column-gap: none;
}

.options > section > img {
  background-color: var(--darker);
  height: 12vw;
  width: 65%;
}

.options > section:first-child {
  margin: auto 1% auto auto;
}

.options > section:last-child {
  margin: auto auto auto 1%;
}


/*------------------------
Contact & Footer
-------------------------*/

footer  {
  position: relative;
  padding: 2.5%;
  height: 16vw;
  font-size: .8rem;
}

footer {
  font-family: 'Open Sans', sans-serif;
}

footer > nav {
  float: left;
  text-align: left;
}

footer nav li {
  display: inline-block;
}

footer > address {
  float: right;
  text-align: left;
  width: 22ch;
}


.legal {
  position: absolute;
  bottom: 1%;
  height: 3vw;
  width: 95%;
  border-top: 1px solid white;
  padding: 1% 0;
}


.legal small {
  float: left;
  font-size: .8rem;
}

.legal img {
  float: right;
  padding-right: 10px;
}